{% extends "community/base_community.html" %}
{% block title %}Create Community{% endblock %}
{% block content %}
<h2>Make Community</h2>
<form method="post">
  {% csrf_token %}
  <div class="card">
    {{ form.non_field_errors }}
    <label>Nama</label>{{ form.name }}<br><br>
    <label>Deskripsi singkat</label>{{ form.short_description }}<br><br>
    <label>Deskripsi lengkap</label>{{ form.full_description }}<br><br>
    <label>Profile picture (URL)</label>{{ form.profile_image_url }}<br><br>
    <button class="btn" type="submit">Create</button>
    <a class="btn btn-outline" href="{% url 'community:home' %}">Cancel</a>
  </div>
</form>
{% endblock %}
