<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}KULATIH{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>

</head>
<body class="bg-[#0b0b23] text-white">

  {% include 'includes/navbar.html' %}
  <main class="p-8">
    {% block content %}
    {% endblock %}
  </main>
  {% include 'includes/footer.html' %}

</body>
</html>
