{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}{% endblock meta %}

  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Be+Vietnam+Pro:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="{% static 'css/global.css' %}" />

  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>

<body class="bg-[#0d0b26] text-white font-bevietnam">
  {% include 'navbar.html' %}
  {% block content %}{% endblock content %}
  {% include 'toast.html' %}
  {% include 'modal.html' %}
  {% include 'footer.html' %}

  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script>
    window.addEventListener('load', function() {
      AOS.init({
        duration: 800,
        once: true,
        offset: 100,
        easing: 'ease-out-cubic',
        delay: 50
      });
      setTimeout(() => {
        window.scrollTo(0, 0);
      }, 100);
    });
  </script>
</body>
</html>
